[Service]
Type=oneshot
Slice=tocker.slice
ExecStart=/home/tomato/generate_load.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
