[Unit]
Description=Tocker container %i logging service 
BindsTo=tocker_%i.service
CollectMode=inactive-or-failed

[Service]
ExecStart=/usr/bin/bash -c "/usr/bin/journalctl --follow -u tocker_%i.service >> /var/tocker/container_logs/%i.log"
ExecStopPost=/usr/bin/bash -c "/usr/bin/journalctl -b -0 -n 1 -u tocker_%i.service >> /var/tocker/container_logs/%i.log"
Type=simple

