[Unit]
Description=Matt Test
BindsTo=tocker_change@%i.path
CollectMode=inactive-or-failed

[Service]
ExecStart=/usr/bin/[ ! -e /run/systemd/units/invocation\:tocker_%i.service ] && /usr/bin/systemctl stop tocker_container_logger@%i
ExecStop=/usr/bin/bash -c "/usr/bin/systemctl stop -f tocker_change@%i.path"
Type=simple

