[Unit]
Description=Matt Test
BindsTo=tocker@%i.path
CollectMode=inactive-or-failed

[Service]
ExecStart=/usr/bin/bash -c "/usr/bin/journalctl --follow -u tocker_%i.service >> /home/tomato/test.log"
ExecStopPost=/usr/bin/bash -c "/usr/bin/systemctl stop -f tocker@%i.path"
Type=simple

